.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.header {
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span {
    color: #6C63FF;
    font-weight: 600;
}

.img-loading {
    display: flex;
    flex-direction: column;
}

.img-loading img {
    width: 512px;
}

.search-box {
    display: flex;
    width:  1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #476072;
}

.search-input {
    width:  600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #FEFAE0;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder {
    color: #999;
}

.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 85px;
    font-size: 20px; 
    border-radius: 50px;
    background: #6C63FF;
    cursor: pointer;
}

.loading-bar {
    width: 0px;
    height: 8px;
    background: #6C63FF;
}

.loading-text {
    font-size: 18px
}

.loading-bar-full {
    width: 512px;
    height: 8px;
    background: #6C63FF;
    transition: 15s;
}

.display-none {
    display: none;
}